#!/usr/bin/make -f
export PYBUILD_NAME=openhsr-connect
export PYBUILD_DISABLE_python3=test
export BACKEND_SCRIPT_DIR=debian/openhsr-connect/usr/lib/cups/backend/
export BACKEND_SCRIPT=${BACKEND_SCRIPT_DIR}/openhsr-connect
export PPD_FILE_DIR=debian/openhsr-connect/usr/share/ppd/openhsr-connect/
export PPD_FILE=${PPD_FILE_DIR}/Generic-PostScript_Printer-Postscript.ppd

%:
	dh $@ --with python3 --buildsystem=pybuild
override_dh_auto_install:
	dh_auto_install
	
	# Add backend script 
	mkdir -p ${BACKEND_SCRIPT_DIR}
	cp openhsr_connect/resources/openhsr-connect ${BACKEND_SCRIPT}

	# Add PPD
	mkdir -p ${PPD_FILE_DIR}
	cp openhsr_connect/resources/Generic-PostScript_Printer-Postscript.ppd ${PPD_FILE}
override_dh_fixperms:
	dh_fixperms

	# Set specific permissions for cups backend script
	chown root:root ${BACKEND_SCRIPT}
	chmod 700 ${BACKEND_SCRIPT}
